@import url(https://fonts.googleapis.com/css?family=Yantramanav);
@import url('https://fonts.googleapis.com/css?family=Quicksand:400');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body {
    background-color: #2b3e50;
    font-family: 'Roboto', sans-serif !important;
}

.main-container {
    margin-top: 20px;
}

.coins-table, .coins-table td, .coins-table th {
    border: 1px solid #4e5d6c;
    border-collapse: collapse;
    padding: 10px 15px;
    color: white;
    font-size: 13px;
}

.coins-table tr td:first-child {
    padding-left: 40px;
}

.coins-table th:first-child {
    text-align: left;
}

.btn-overall {
    border: none;
    padding: 2px 4px;
    font-size: 10px;
    border-radius: 2px;
    font-family: Roboto, sans-serif;
    background: transparent;
    outline: none;
}

.coin-title {
    position: relative;
}

.coin-title::before {
    content: '';
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 1px;
    left: -18px;
}

.coin-ED5191::before {
    background-color: #ED5191;
}
.coin-CEE85D::before {
    background-color: #CEE85D;
}
.coin-59D3A5::before {
    background-color: #59D3A5;
}
.coin-F7BF41::before {
    background-color: #F7BF41;
}
.coin-F26666::before {
    background-color: #F26666;
}
.coin-FF8247::before {
    background-color: #FF8247;
}
.coin-FFFF7E::before {
    background-color: #FFFF7E;
}
.coin-53DAF9::before {
    background-color: #53DAF9;
}



.btn-decrease {
    border: 1px solid #e48585;
    color: #e48585;
}
.btn-decrease:hover {
    background-color: #e48585;
    color: #fff;
}

.btn-enable {
    background-color: #43D58C;
}
.btn-enable:hover {
    background-color: #43CD80 !important;
}
.btn-increase {
    border: 1px solid #77bf9a;
    color: #77bf9a;
}
.btn-increase:hover {
    background-color: #77bf9a;
    color: #fff;
}

.btn-disable {
    background-color: #c9c9c9;
    color: #696969;
}
.btn-disable:hover {
    color: #c9c9c9;
    background-color: #999;
}
.coins-select {
    border: none;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 2px;
    font-family: Roboto, sans-serif;
    background: transparent;
    border: 1px solid #dddddd;
    color: #dddddd;
}
.dropdown-menu>li {
    padding: 3px 10px;

}
.dropdown-menu>li>a {
    display: inline-block;
    float: right;
    padding: 2px 7px;
    font-size: 11px;
}
.dropdown-menu>li{
    font-size: 12px;
    font-weight: normal;
}
.dd-group{
    border-radius: 2px;
}
.dd-group>a{
    background-color: #4e5d6c;
    border-radius: 2px;
    padding: 2px 5px;
}
.dd-group>a:hover, .dd-group>a:active, .dd-group>a:focus{
    background-color: #4e5d6c !important;
}

