@import url(https://fonts.googleapis.com/css?family=Yantramanav:100,400);

body {
    /*background: #2E2E2E;*/
    /*font-family: 'Yantramanav', sans-serif;*/
  /*/  -webkit-font-smoothing: antialiased;*/
}

.table, .btn-xs, .input-sm .dropdown-menu, .btn-group {
    font-size: 9px !important;
}
.input-sm {
    padding: 1px 2px;
    height: 17px;
    background: transparent;
    color: #fff;
    width: 40px;
}

.logger, .logger-container {
    color: #fff;
}


*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap {
    width: 100%;
    max-width: 900px;
    margin-left: 0.5em;
}

.main-container {
    margin: 10px;
}

.dropdown-menu {
    height: auto !important;
    max-height: 200px !important;
    overflow-x: hidden !important;
}

.dd-group {
    margin: 5px;
}